<?xml version="1.0" encoding="utf-8"?>

<!--
   Zirco Browser for Android
  
   Copyright (C) 2010 J. Devauchelle and contributors.
 
   This program is free software; you can redistribute it and/or
   modify it under the terms of the GNU General Public License
   version 3 as published by the Free Software Foundation.
 
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.zirco"
      android:versionCode="1" android:versionName="0.2.8">
    <application
    	android:icon="@drawable/icon"
    	android:label="@string/ApplicationName">
    
        <activity android:name=".ui.activities.ZircoMain"
                  android:label="@string/ApplicationName"
                  android:launchMode="singleTask"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
        </activity>
    
		<activity android:name=".ui.activities.AboutActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/AboutActivity.Title"></activity>
		<activity android:name=".ui.activities.EditBookmarkActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/EditBookmarkActivity.Title"></activity>
		<activity android:name=".ui.activities.PreferencesActivity"></activity>
		<activity android:name=".ui.activities.BookmarksListActivity"></activity>
		<activity android:name=".ui.activities.HistoryListActivity"></activity>
		<activity android:name=".ui.activities.DownloadsListActivity"></activity>
		<activity android:name=".ui.activities.AdBlockerWhiteListActivity"></activity>
	</application>

	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>	
	<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"></uses-permission>
	
</manifest> 