<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.zirco"
      android:versionCode="1" android:versionName="0.1.6">
    <application
    	android:icon="@drawable/icon"
    	android:label="@string/ApplicationName">
    
        <activity android:name=".ui.activities.ZircoMain"
                  android:label="@string/ApplicationName"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
	<activity android:name=".ui.activities.AboutActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/AboutActivity.Title"></activity>
	<activity android:name=".ui.activities.EditBookmarkActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/EditBookmarkActivity.Title"></activity>
	<activity android:name=".ui.activities.PreferencesActivity"></activity>
	<activity android:name=".ui.activities.BookmarksListActivity"></activity>
	<activity android:name=".ui.activities.HistoryListActivity"></activity>
</application>

	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>	
	<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"></uses-permission>
	
</manifest> 