body { margin: 0 0 1em 0; padding: 0; background-image: url("linef.png"); }
#main { margin: 0; padding: 0; }
a:link, a:visited { color: #666666; text-decoration: none; }
ul { list-style-image: url("icobar.png"); }
input[type="text"] { margin: 0.5em 0 0.5em 0.5em; width: 70%; border: 1px solid #e3e3e3; }
input[type="submit"] { background-color: #f5f5f5; border: 1px solid #e3e3e3; }
#title { margin: 0 0 0 0; padding-top: 20px; height: 37px; background-color: #f5f5f5; color: #4b4b4b; border-bottom: 1px solid #e3e3e3; font-size: larger; font-weight: bold; text-align: center; }
.box-title { margin: 1em 1em 0 1em; padding: 0; background-color: #f5f5f5; color: #4b4b4b; border: 1px solid #e3e3e3; border-radius: 5px 5px 0 0; }
.box-title p { margin: 0.25em 0; }
.box-title img { vertical-align: middle; padding: 0 0.5em; }
.box-content { margin: 0 1em 0 1em; padding: 0; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-top: 1px solid transparent; border-radius: 0 0 5px 5px; }